@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

h1 {
    width: 253px;

    border: 1px;
    left: 98px;
    gap: 10px;
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    font-family: "Jaldi", sans-serif;
}

img {
    height: 323px;
}