<div class="mt-2">
  @if (vehiculos$ | async; as vehiculos) {
    <table class="table table-compact">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Línea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        @for (v of vehiculos; track v.id) {
          <tr>
            <td scope="col">{{ v.id }}</td>
            <td>{{ v.marca }}</td>
            <td>{{ v.linea }}</td>
            <td>{{ v.modelo }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="alert alert-info text-center">Cargando vehículos...</div>
  }
</div>

<div class="container-fluid">
  <p>
    @if (porMarcaLista$ | async; as marcas) {
      @for (m of marcas; track m.marca) {
       {{"Total"}} {{ m.marca }}: {{ m.cantidad }}<br>
      }
    } @else {
      Cargando...
    }
  </p>
</div>



